<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="pic, photo, photography, image, upload, burstshot">
    <meta name="description" content="A website to display the pictures from my Instagram profile">

    <link rel="shortcut icon" type="image/PNG" href="../img/favicon.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/showpage.css">
    <link rel="stylesheet" href="../stylesheets/feature.css">
    <title>All Photos | BurstShot Photography</title>
</head>

<body>
    <%- include('../partials/nav') %>
    <section id="display">
        <div class="container">
            <% if(error && error.length > 0){%>
            <div class="alert alert-danger">
              <h4> <%= error %> </h4>
            </div>
            <% } %>
          
            <% if(success && success.length > 0){%>
            <div class="alert alert-success">
              <h4> <%= success %> </h4>
            </div>
            <% } %>
        </div>
        <div class="container">
            <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa fa-chevron-up"></i></button>
            <div class="row">
                <% posts.forEach(function(post){ %>
                    <div class="col-md-3 col-sm-6 images">
                        <img class="feature-image" src="/admin/<%= post.image %>" alt="Image">
                        <h4 class="location"><%= post.location %></h4>
                        <span class="instagram post-icon"><a target="_blank" href="<%= post.instagram %>"><i class="fa fa-instagram"></i></a></span>
                        <span class="instagram"><a href="/photographs/<%= post._id %>"><i class="fa fa-info-circle"></i></a></span>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>

    <section id="feature">
        <h1>GET FEATURED</h1>
        <div class="container form-container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="form-holder">
                        <form action="/feature" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <input class="input-field" type="text" name="photographer" placeholder="Clicked by..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="instagram" placeholder="Instagram Username..">
                            </div>
                            <div class="row">
                                <input class="input-field" type="text" name="location" placeholder="Location..">
                            </div>
                            <div class="row">
                                <textarea class="input-field" type="text" name="caption" placeholder="Caption.."></textarea>
                            </div>
                            <div class="row">
                                <input class="input-field input-file" type="file" name="image">
                            </div>
                            <div class="row">
                                <button class="button button-submit">Submit</button>
                            </div>
                        </form>                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <img class="shot" src="../img/shot.webp" alt="Shot">
                </div>
            </div>        
        </div>    
    </section>   

<%- include('../partials/footer') %>