<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0">
    <meta name="author" content="Mihir Kumar Singh">
    <meta name="keywords" content="pic, photo, photography, image, upload, burstshot">
    <meta name="description" content="A website to display the pictures from my Instagram profile">

    <link rel="shortcut icon" type="image/PNG" href="../img/favicon.PNG">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../stylesheets/showpage.css">
    <title>Post | BurstShot Photography</title>
</head>

<body>
    <%- include('../partials/nav') %>
    <section id="show">
        <div class="container">
            <% if(error && error.length > 0){%>
            <div class="alert alert-danger">
              <h4> <%= error %> </h4>
            </div>
            <% } %>
          
            <% if(success && success.length > 0){%>
            <div class="alert alert-success">
              <h4> <%= success %> </h4>
            </div>
            <% } %>
        </div>
        <a class="button-back" href="/photographs"><i class="material-icons">arrow_back</i></a>
        <div class="heading">
            <h2>Clicked by : <%= post.photographer %></h2>
        </div>
        <div class="container show-box">
            <div class="row">
                <div class="col-md-6 col-sm-12 rightshift">
                    <h3><%= post.location %></h3>
                    <h4><%= post.caption %></h4>
                    <span class="instagram"><a href="<%= post.instagram %>"><i class="fa fa-instagram"></i></a></span>
                </div>
                <div class="col-md-6 col-sm-12 leftshift">
                    <img class="show-image" src="../admin/<%= post.image %>" alt="Image">
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer') %>